
.content{
  position:fixed;
  top:70px;
  left:15%;
  width: 85%;
  height: 100vh;
  /* border:solid red 1px; */
  /* padding: 10px; */

}
.exterior{
  height: 100%;
  background-image: url("../../../assets/images/bg-2.png");
}
table{
  background-color: white;
  width: 95%;
}
