li{
  background-color:#004E89;
  height: 100px;

  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  border: solid rgb(255, 255, 255) 1px;
}
.active{
  background-color: #062c49;
  border: solid white 1px;

}
ul{
  width: 100%;
  /* text-align: center; */
  font-size: 20px;
  border-bottom:  solid white 1px ;
}
.img{
  /* border: solid rgb(182, 16, 16) 1px; */
}
.img img{
  width: 90%;
  height: 70px;

}
.menu{
  position:fixed; top:0; left:0;width: 15%;
  border-right: solid white 1px;
}
.opc{
  background-color: #004E89;
  height: 100vh;
}

