<div class="fondo dis-flex flex-row">

  <div class="sidebar">
    <app-sidebar></app-sidebar>

  </div>

  <div class="content">
    <app-menu></app-menu>

    <div class="row cont-agregar">
      <div class="row text-center m-auto texto">
        <h2>Registro de Mascota</h2>
      </div>

      <div class="row">

        <form  class="row formulario" autocomplete="off" [formGroup]="miFormularioPerro" (ngSubmit)="registroPerro()">
          <div class="row">
            <div class="col-sm-2">
              <label class="form-label">Nombre</label>
            </div>
            <div class="col-sm-4">
              <input type="text" placeholder="Nombre" formControlName="name">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <label class="form-label">Edad</label>
            </div>
            <div class="col-sm-4">
              <input type="text" placeholder="Edad" formControlName="age">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <label class="form-label">Raza</label>
            </div>
            <div class="col-sm-4">
              <input type="text" placeholder="Raza" formControlName="breed">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <label class="form-label">Vacunas</label>
            </div>
            <div class="col-sm-4">
              <input type="text" placeholder="vacunas" formControlName="vaccines" >
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <label class="form-label">Preferencias</label>
            </div>
            <div class="col-sm-5">
              <input type="text" placeholder="preferencias" formControlName="preferences">
            </div>
          </div>

          <div class="col-md-2 m-auto" >
            <br>
            <button class="btn btn-success" type="submit">Agregar</button>

          </div>
          <div class="col-md-2 m-auto" >
            <br>
            <button class="btn btn-danger"   [routerLink]="['../misPerros']">Volver</button>

          </div>



        </form>


      </div>
    </div>



  </div>

</div>





