<div class="fondo dis-flex flex-row">

  <div class="sidebar">
    <app-sidebar></app-sidebar>

  </div>

  <div class="content">
    <app-menu></app-menu>

    <div class="dis-flex flex-col exterior">
      <div class="dis-flex flex-row primero">
        <div class="col m-auto text-center  texto_1">

          <h1><b>¿Necesitas algún tipo de ayuda?</b></h1>
        </div>

      </div>
      <div class=" dis-flex flex-row principal">
        <div class="col m-auto text-center uso ">

          <div class="caja-uso">
            <div class="icon">
              <img src="../../../assets/images/icons/boton-de-play.png" width="50px" height="50px" alt="">

            </div>
            <h2><b>Uso de la App</b></h2>
            <p>Con este material aprenderás sobre la navegacion de la app, dale un vistazo y será más fácil tu estancia con nosotros.</p>
            <br>
            <button class="btn btn-dark">Comenzar</button>

          </div>
        </div>

        <div class="col m-auto text-center preguntas">
          <div class="caja-preguntas">

            <div class="icon">
              <img src="../../../assets/images/icons/preguntas-mas-frecuentes.png" width="50px" height="50px" alt="">

            </div>
            <h2><b>Preguntas Frecuentes</b></h2>
            <p>Aquí puedes consultar las dudas que se han generado por nuestros usuarios, o si lo deseas puedes formular tu inquietud.</p>
            <br>
            <button class="btn btn-dark">Consultar</button>

          </div>
        </div>

        <div class="col m-auto text-center reportes">
          <div class="caja-reportes">

            <div class="icon">
              <img src="../../../assets/images/icons/informe-de-datos.png" width="50px" height="50px" alt="">

            </div>
            <h2><b>Reportes</b></h2>
            <p>Puedes realizar quejas o reportes de paseadores con los que tuviste incovenientes por incumplimiento de nuestras politicas.</p>
            <br>
            <button class="btn btn-dark">Realizar</button>

          </div>
        </div>
      </div>
      <div class="dis-flex flex-row ultimo">
        <div class="col m-t-10 text-center  texto_2">
          <h3><b>Tu felicidad nos importa</b></h3>
          <p>Si no has podido solucionar tu problema ,<br> comunicate con nosotros</p>
          <button class="btn btn-dark">Contactanos</button>
        </div>
      </div>
    </div>

  </div>

</div>
